a {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-link {
  margin: 0px 20px;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
}

.nav-link:hover {
  border-bottom: 5px solid black;
}

nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efe23c;
}

.active-page {
  border-bottom: 5px solid black;
}

.user-block {
  border: 1px solid black;
  padding: 5px;
  width: 25%;
  height: 180px;
  margin: 2px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-wrapper {
  flex-wrap: wrap;
}

.user-info {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.form {
  flex-direction: column;
  margin: 20px;
}

.input-wrapper {
  display: flex;
  align-items:center;
  width: 450px;
}

.input-wrapper input {
  width: 75%;
  height: 40px;
  border: 1px solid black;
  margin: 1px;
}

.input-wrapper label {
  text-align: end;
  margin-right: 10px;
  width: 25%;
}

.add-user-btn {
  margin: 10px;
  color:white;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color:rgb(0, 0, 0);
  border:1px solid rgb(71, 71, 71);
}
